html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-color: rgb(248, 248, 248);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {}

.container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#left {
    display: flex;
    background: url(img/coast.jpg) no-repeat center;
    background-size: cover;
    flex: 1;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
}

#left a {
    color: black;
}

#logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 250px;
    background-color: rgba(0, 0, 0, 0.5);
}

#logo img {
    max-width: 100%;
    max-height: 150px;
}

#right {
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#top {
    padding-left: 40px;
    padding-right: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-end;
}

#top h1 {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: bolder;
}

form {
    justify-self: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 5px 3px 5px 1px lightgrey;
    font-size: 1rem;
}

#inputs {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.inputs-row {
    display: flex;
    column-gap: 80px;
    font-size: .8rem;
}

.inputs-left, .inputs-right {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.inputs-left > *, .inputs-right > *{
    margin: 0;
    width: 200px;
    height: 1.2rem;
}

input {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 3px lightgray
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: .7rem;
}

#bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

#bottom a {
    color: #596D48;
    text-decoration: none;
}

button[type='submit'] {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #596D48;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: 0px 2px 5px lightgrey;
}

button[type='submit']:hover {
    cursor: pointer;
}

button[type='submit']:active {
    background-color: #455538;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

input {
    margin: 10px;
}